* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  background-color: #1976d2;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

/* Layout de colunas */
.layout {
  display: flex;
  height: calc(100vh - 80px); /* altura total menos o cabeçalho */
}

/* Painel esquerdo */
.painel-esquerdo {
  width: 15%;
  height: 220%; 
  background-color: #2383e4;
  padding: 20px;
  border-right: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
}


/* Conteúdo central */
.conteudo {
  flex: 3;
  background-color: #ffffff;
  padding: 20px;    
}

/* Painel direito */
.painel-direito {
  width: 18%;
  background-color: #f5f5f5;
  padding: 20px;
  border-left: 1px solid #ccc;
}

label{
  font: normal 13pt Arial;
  color: rgba(2, 2, 124, 1);  
}
input {        
  color: black;
  font: normal 13pt Arial;
  border-radius: 5px;
  padding: 5px;
}

.luis{
  font: normal 14pt Arial;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

select {        
  color: black;
  font: normal 13pt Arial;
  border-radius: 5px;
  padding: 5px;
}
.botao-azul {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;    
}

.botao-blue {
  background-color: #06427e;
  color: white;
  padding: 10px 20px;         /* top-bottom: 10px, right-left: 20px */
  padding-left: 15px;         /* aumenta o espaço à esquerda */
  text-align: left;  
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;    
}

.botao-red {
  background-color: red;
  color: white;
  padding: 10px 20px;         /* top-bottom: 10px, right-left: 20px */
  padding-left: 15px;         /* aumenta o espaço à esquerda */
  text-align: left;  
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;    
}

.botao-azul:hover {
  background-color: darkblue;    
}
.botoes {
  text-align: center;
}
.input-text {
  width: 350px;
  padding: 8px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.tabela-venda {
  width: 100%;
  border-collapse: collapse;
  margin-top: 35px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.tabela-venda th {
  background-color: #2c3e50;
  color: white;
  padding: 8px;
  text-align: left;
}

.tabela-venda td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.tabela-venda tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-venda tr:hover {
  background-color: #f1f1f1;
}

.total-geral {
  margin-top: 20px;    
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
  text-align: right; 
}


#form-venda {
  margin-top: 40px; 
  display: flex;
  gap: 10px;
}

#form-venda input, #form-venda button {
  padding: 6px 10px;
  font-size: 1em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#form-venda input[type=number] {
  text-align: right;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4CAF50; /* verde sucesso */
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: visibility 0s, opacity 0.5s ease;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

.toastl {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #d68112; /* verde sucesso */
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 40%;
  bottom: 80%;
  font-size: 17px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: visibility 0s, opacity 0.5s ease;
  opacity: 0;
}

.toastl.show {
  visibility: visible;
  opacity: 1;
}

 .espaco-entre-botoes {
    margin-bottom: 12px;
 }

 * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          font-family: 'Arial', sans-serif;
        }    
        body, html {
          height: 100%;
        }    
        .hero {
          background-color: white;
          color: black; /* Ou mantenha 'white' se o texto for claro sobre fundo branco */
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0 20px;
}

        .hero-content {
          max-width: 800px;
        }    
        .hero h1 {
          font-size: 3em;
          margin-bottom: 20px;
        }    
        .hero p {
          font-size: 1.2em;
          margin-bottom: 30px;
          line-height: 1.6;
        }    
        .hero button {
          padding: 15px 30px;
          font-size: 1em;
          background-color: #00bfff;
          border: none;
          border-radius: 5px;
          color: white;
          cursor: pointer;          
        }    
        .hero button:hover {
          background-color: #009acd;
        }

.coluna-botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.input-normal {
  border: 1px solid #999;
  background-color: transparent;
  color: #000; /* texto preto, visível em fundo claro */
  font-size: 14px;
  padding: 3px;
}
.input-normal:focus {
  outline: none;
  border-color: #666;
}

